[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
neovim = "*"
python-language-server = {version = "*", extras = ["all"]}
"flake8" = "*"
pyls-black = "*"
black = "*"
sexpdata = "*"
websocket-client = "*"

[dev-packages]

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
